#name.form-group
  = label :badge, :name, 'Name', :class => "control-label reserve-label"
  .reserve-input
    = text_field :badge, :name
#image.form-group
  = label :badge, :image, 'Image', :class => "control-label reserve-label"
  .reserve-input
    = file_field :badge, :image
#category.form-group
  = label :badge, :category, 'Category', :class => "control-label reserve-label"
  .reserve-input
    = select :badge, :category, options_for_select(@categories, selected: (@badge.category ? @badge.category.name : nil))
#description.form-group
  = label :badge, :description, 'Description', :class => "control-label reserve-label"
  .reserve-input
    = text_area :badge, :description
#criteria.form-group
  = label :badge, :criteria, 'Criteria', :class => "control-label reserve-label"
  .reserve-input
    = text_area :badge, :criteria
#claimcode.form-group
  = label :badge, :claimcode, 'Claim Code', :class => "control-label reserve-label"
  .reserve-input
    = select :badge, :claimcode, {"Yes" => true, "No" => false}
