#name.form-group
  = label :badge, :name, 'Name', :class => "control-label reserve-label"
  .reserve-input
    = text_field :badge, :name
#image.form-group
  = label :badge, :image, 'Image', :class => "control-label reserve-label"
  .reserve-input
    = file_field :badge, :image
#description.form-group
  = label :badge, :description, 'Description', :class => "control-label reserve-label"
  .reserve-input
    = text_area :badge, :description
#claimcode.form-group
  = label :badge, :claimcode, 'Claim Code', :class => "control-label reserve-label"
  .reserve-input
    = select :badge, :claimcode, {"Yes" => true, "No" => false}
