#name
  = label :badge, :name, 'Name'
  = text_field :badge, :name
#description
  = label :badge, :description, 'Description'
  = text_area :badge, :description
#claimcode
  = label :badge, :claimcode, 'Claim Code'
  = text_field :badge, :claimcode
#image
  = file_field :badge, :image
