.container
  .content.row
    = render partial: 'left_column'    
    .right-column-container.column.container.col-md-8
      .header-container.row
        %h1 #{@badge.name}
      = image_tag @badge.image.url(:medium)
      %h3 Description:
      #description= @badge.description
      %h3
      - if @badge.claimcode && @badge.claimcode != "" && signed_in?
        .claimcode= render :partial => 'claim_code', :locals => {:badge => @badge}
