.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.col-md-8
      .header-container.row
        %h1 Create a Submission for #{@badge.name}
      = image_tag @badge.image.url(:medium)
      %h3 Description:
      %p#description= @badge.description
      = render :partial => 'submit_form'
