- # A single row of the All Submissions table
%tr
  %td= submission.user.name
  %td= submission.user.email 
  %td= submission.badge.name
  %td= submission.created_at.strftime("%B %d, %Y")
  %td= submission.get_status
  %td= link_to("Details", submission_path(submission))
  %td= button_to("Push", push_submission_path(submission), :method => :get) if submission.approved?
