- # A single row of the All Submissions table
%tr
  %td= submission.name
  %td= submission.email 
  %td= submission.badge.name
  %td= submission.partner_code
  %td= submission.created_at.strftime("%B %d, %Y")
  %td= submission.get_status
  %td
    = link_to "Details", submission_path(submission), :method => :get, :class => "btn btn-xs btn-default"
    = link_to "Push", push_submission_path(submission), :method => :get, :class => "btn btn-xs btn-primary" if submission.approved?
    = link_to "Delete", submission_path(submission), :method => :delete, :class => "btn btn-xs btn-danger", :confirm => 'Are you sure?'
