- # A single row of the All Submissions table
%tr
  %td= submission.name
  %td= submission.email 
  %td= submission.badge.name
  %td= submission.date.strftime("%B %d, %Y")
  %td= submission.status
  %td= link_to("More about #{submission.name}'s submission", submission_path(submission))
  %td= button_to("Push", push_submission_path(submission), :method => :get) if submission.status == "Approved"
