.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8 
      .header-container.row
        %h1 #{@submission.name}'s submission
      %h4 Email:
      #email= @submission.email
      %h4 Badge:
      #badge= @submission.badge.name
      %h4 Date:
      #date= @submission.created_at.strftime("%B %d, %Y")
      %h4 Status:
      #status= @submission.get_status
      %h4 Description:
      #description= @submission.description
      %hr
      - if is_admin?
        = link_to('Approve', approve_submission_path, :method => :put, :confirm => 'Are you sure?', :class => 'btn btn-primary') if not @submission.approved?
        = link_to('Reject', reject_submission_path, :method => :put, :confirm => 'Are you sure?', :class => 'btn btn-danger') if not @submission.rejected?
      - if @submission.approved?
        = link_to('Push', push_submission_path, :method => :get, :class => 'btn btn-default')
