#container
  .header-container.row
    %h1 Details about #{@submission.name}'s submission
  .content.row
    .left-column-container.column.col-md-3
      %h2 Admin
      %ul
        %li= link_to('Approve submission', approve_submission_path, :method => :get, :confirm => 'Are you sure?')
        %li= link_to('Reject submission', reject_submission_path, :method => :get, :confirm => 'Are you sure?')
        %li= button_to('Delete submission', submission_path(@submission), :method => :delete, :confirm => 'Are you sure?')
        %li= link_to('Push badge to Mozilla Backpack', push_submission_path, :method => :get, :confirm => 'Are you sure?')
        %li= link_to('Back to submission list', submissions_path)
      %h2 Menu
      %ul
        
    .right-column-container.column.container.col-md-8 
      %h4 Email:
      #email= @submission.email
      %h4 Badge:
      #badge= @submission.badge.name
      %h4 Date:
      #date= @submission.date.strftime("%B %d, %Y")
      %h4 Status:
      #status= @submission.status
      %h4 Description:
      #description= @submission.description

