.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8 
      .header-container.row
        %h1 #{@submission.user.name}'s submission
      %h4 Email:
      #email= @submission.user.email
      %h4 Badge:
      #badge= @submission.badge.name
      %h4 Date:
      #date= @submission.created_at.strftime("%B %d, %Y")
      %h4 Status:
      #status= @submission.get_status
      %h4 Description:
      #description= @submission.description

