.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8 
      .header-container.row
        %h1 #{@submission.name}'s submission
      %h4 Email:
      #email= @submission.email
      %h4 Badge:
      #badge= @submission.badge.name
      %h4 Date:
      #date= @submission.created_at.strftime("%B %d, %Y")
      %h4 Status:
      #status= @submission.get_status
      %h4 Evidence URL:
      #url= link_to @submission.url, @submission.url
      %h4 Evidence:
      #description= @submission.description
      - if @submission.rejected?
        %h4 Reasons for Rejecting
        #reasons= @submission.reasons
      %hr
      - if is_admin?
        = link_to('Approve', approve_submission_path, :method => :put, :confirm => 'Are you sure?', :class => 'btn btn-primary') if not @submission.approved?
        - if not @submission.rejected?
          %a{"data-toggle" => "modal", "data-target" => "#reasons", "id" => "reasons-for-rejecting", "class" => 'btn btn-danger'} Reject
          = render "reject_modal"
      - if @submission.approved?
        = link_to('Push', push_submission_path, :method => :get, :class => 'btn btn-primary')
