!!! 5
%html
  %head
    %title NWP Badges
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://beta.openbadges.org/issuer.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #main-menu.navbar

      .navbar-header
        %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        = link_to "/", :class => "home-link" do
          = image_tag 'nwp.png'
          %span.gallery-menu-text
            Badges

      .navbar-collapse.collapse
        %ul{:class => "nav navbar-nav navbar-right main-navigation"} 

          - if is_admin?

            %li{:class => "tab"}>
              = link_to new_badge_path do
                %i{:class => "fa fa-circle"}
                %p Create Badge

            %li{:class => "tab"}>
              = link_to submissions_path do
                %i{:class => "fa fa-file-text"}
                %p Submissions

            %li{:class => "tab"}>
              = link_to categories_path do
                %i{:class => "fa fa-book"}
                %p Categories

            %li{:class => "tab"}>
              = link_to claimcodes_path do
                %i{:class => "fa fa-barcode"}
                %p Claim Codes

            %li{:class => "tab"}>
              = link_to partners_path do
                %i{:class => "fa fa-group"}
                %p Partners

            %li{:class => "tab"}>
              = link_to users_path do
                %i{:class => "fa fa-user"}
                %p Users

          - if signed_in?

            %li.dropdown-custom.tab.account
              %a
                %i.fa.fa-user
                %p
                  = current_user.email
                  %b.caret

              %ul.dropdown-menu
                %li
                  = link_to "Profile", edit_user_registration_path
                %li
                  = link_to "Sign out", destroy_user_session_path, :method => :delete

    - flash.each do |name, msg|
      .flash
        - if not msg.nil?
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "warning"}", :id => "flash"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"

    .container
      = yield
